﻿@using Web.App
@using Web.Resources

@{
    var user = CurrentUser.Get();
    var isUserAuthenticated = !user.IsAnonymous();
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Web.Resources.App.Name, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
            
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                @if (isUserAuthenticated)
                {
                    <li>
                        @Html.ActionLink(Film.AddFilm, "AddFilm", "Film")
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (isUserAuthenticated)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            @user.Email<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                @Html.ActionLink(Account.SignOut, "SignOut", "Account")
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        @Html.ActionLink(Account.SignIn, "SignIn", "Account")
                    </li>
                    <li>
                        @Html.ActionLink(Account.SignUp, "SignUp", "Account")
                    </li>
                }
            </ul>
        </div>
    </div>
</div>