﻿@using Web.Extensions
@using Web.Models.Account
@using Web.Resources

@model SignInModel

<h2>@Account.SignIn</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="col-md-push-2">
        <div class="form-group row">
            <div class="col-md-9 ">
                @Html.TextBoxFieldFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-9">
                @Html.PasswordFieldFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <input type="submit" class="btn btn-default" value="@Account.SignIn" />
    </div>
}
