﻿@using Web.Extensions
@using Web.Resources
@using Web.Models.Account

@model SignUpModel

<h2>@Account.SignUp</h2>
@using (Html.BeginForm())
{
    <div class="col-md-push-2">
        <div class="form-group row">
            <div class="col-md-9">
                @Html.TextBoxFieldFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-9">
                @Html.PasswordFieldFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-9">
                @Html.PasswordFieldFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <input type="submit" class="btn btn-default" value=@Account.SignUp />
    </div>
}
