﻿@model PagedList.IPagedList<Data.Entities.Film>
@using PagedList.Mvc
@using Common
@using Web.Resources

@Styles.Render("~/Content/PagedList.css")

<div class="row">
    @foreach (var film in Model)
    {
        <div class="col-lg-4 fix-height-block">
             <a href="@Url.Action("Details", "Film", new {eId = Cryptographer.Encode(film.Id)})">

                 <div class="col-md-4">
                     <h4>@film.Year</h4>
                     @{
                         var base64 = Convert.ToBase64String(film.Poster);
                         var poster = $"data:image/gif;base64,{base64}";
                     }
                     <img src="@poster" style="max-width: 100px; max-height: 200px;"/>
                 </div>
                 <div class="col-md-8">
                     <h4>@film.Name</h4>
                     <p><b>@Film.Producer:</b> @film.Producer</p>
                     
                     @{ var description = film.Description.Length > 100 ? film.Description.Substring(0, 100) + "..." : film.Description; }

                     <p><b>@Film.Description:</b> @description</p>
                 </div>
             </a>
        </div>
    }
</div>

@{
    var pageListOptions = PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions {
            HttpMethod = "GET",
            UpdateTargetId = "listFilms"
        });
    pageListOptions.DisplayLinkToFirstPage = PagedListDisplayMode.Always;
    pageListOptions.DisplayLinkToLastPage = PagedListDisplayMode.Always;
}

<div class="pager navbar-fixed-bottom fix-pager">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), pageListOptions)
</div>
