﻿@using Common
@using Web.App
@using Web.Resources
@model Web.Models.Film.DetailsModel

<div class="col-lg-7 fix-height-block">
    <div class="col-md-5">
        <h4>@Model.Year</h4>
        @{
            var base64 = Convert.ToBase64String(Model.Poster);
            var poster = $"data:image/gif;base64,{base64}";
        }
        <img src="@poster" style="max-width: 200px; max-height: 400px;"/>
        
    </div>
    <div class="col-md-7">
        <h4>@Model.Name</h4>
        <p><b>@Film.Producer:</b> @Model.Producer</p>
                 
        <p><b>@Film.Description:</b> @Model.Description</p>
        <p><b>@Film.Public:</b> @Model.Author</p>
        @if (CurrentUser.Get().Email == Model.Author)
        {
            @Html.ActionLink(Film.Edit, "EditFilm", "Film", new { eId = Cryptographer.Encode(Model.Id) }, new { @class = "btn btn-default", @role = "button" })
        }

    </div>
</div>
