﻿@using Web.Extensions
@using Web.Resources
@model Web.Models.Film.EditFilmModel

<h2>@Film.EditFilm</h2>

<div>
    @using (Html.BeginForm("EditFilm", "Film", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-push-2">
            <div class="form-group row">
                <div class="col-md-9">
                    @Html.TextBoxFieldFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-9">
                    @Html.TextAreaFieldFor(m => m.Description)
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-9">
                    @Html.TextBoxFieldFor(m => m.Year)
                    @Html.ValidationMessageFor(m => m.Year)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-9">
                    @Html.TextBoxFieldFor(m => m.Producer)
                    @Html.ValidationMessageFor(m => m.Producer)
                </div>
            </div>
            <div class="form-group row">
                @Html.Label(Film.Poster, new { @class = "control-label col-md-1" })
                <div class="col-md-9">
                    <input type="file" id="poster" name="poster" data-val="true" />
                </div>
            </div>
            @Html.HiddenFor(m => m.Id)
            <input type="submit" class="btn btn-default" value=@Film.Save />
        </div>
    }
</div>

